
.navbar .nav-link {
  color: #e00000;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
  color: #ff3b3b;
}

.navbar .navbar-toggler-icon {
  filter: invert(1);
}

/* Centre verticalement le contenu dans chaque ligne du layout */
.row {
  align-items: center;
  text-align: center;
}

/* Titres principaux */
h2 {
  color: #e00000;
}
